
.arrow {
  border: solid ghostwhite;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 750px;
  border-radius: 5px;
  padding-top: 10px; 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: auto;
  text-align: center;
  align-items: flex-start;
}

.container {
  padding: auto;
}

b {
  padding: auto;
  text-align: center;
}

.prev {
  float: left;
  border-radius: 4px;
}

.next {
  float: right;
  border-radius: 4px;
}
b{
  padding-top: 2mm;
  padding-bottom: 2mm;
}

.row {
  display: flex;
  align-items:top;
  padding-left: 3mm;
} 

.orangebutton {
  border-color: #DB7C26 !important;
  background-color: #DB7C26 !important;
  color:white !important;
}
.bluebutton {
  background-color: #058ED9 !important;
  border-color: #058ED9 !important;
  color:white !important;
}
a:link {
  text-decoration:none;
  color: black;
}
a:hover {
  text-decoration:none;
}
.recipebutton{
  color: white;
}
.greenbutton {
  background-color: #20BF55 !important;
  border-color: #20BF55 !important;
  color:white !important;
}
ul {
  padding-bottom: 0 !important;
  margin-bottom: 0mm !important;
}
p{
  size: -2rem;
}