td {
    font-weight: bolder;
    background-color: ghostwhite;
    text-align: center;
}

table {
    
    border-radius: 5px;
    text-align: center;
}
h3 {
    padding-top: 3mm;
    padding-bottom: 3mm;
}

.row {
    padding-top: 3mm;
    padding-bottom: 3mm;
    

}
   
