.bluebutton {
    background-color: #058ED9 !important;
    border-color: #058ED9 !important;
    color:white !important;
  }
.greenbutton {
    background-color: #20BF55 !important;
    border-color: #20BF55 !important;
    color:white !important;
  }


.lightgreenbutton {
    background-color: #7DC95E !important;
    border-color: #7DC95E !important;
    color:white !important;
  }
  .rbc-event, .rbc-day-slot .rbc-background-event {
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    margin: 0;
    padding: 2px 5px;
    background-color: #20BF55;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left; }
    .rbc-slot-selecting .rbc-event, .rbc-slot-selecting .rbc-day-slot .rbc-background-event, .rbc-day-slot .rbc-slot-selecting .rbc-background-event {
      cursor: inherit;
      pointer-events: none; }
    .rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
      background-color: #20BF55; }
    .rbc-event:focus, .rbc-day-slot .rbc-background-event:focus {
      outline: 5px auto #20BF55; }