.titlebar-nav {
    background-color: #20BF55;
    width: 100%;
    color: ghostwhite
}

h1 {
    padding-top: .4em;
    padding-bottom: .3em;
    padding-left: 1em;
    color:ghostwhite;
    font-family: Arial, Helvetica, sans-serif
}
.link, .brand {
    color: ghostwhite
}
.bg-green{
    background-color: #20BF55;
}
